src/main/resources/reg/reg.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="live.midreamsheep.swcj"
            xmlns="live.midreamsheep.swcj"
            elementFormDefault="qualified">
    <xsd:element name="REG" type="REG"/>
    <xsd:complexType name="REG">
        <xsd:sequence>
            <xsd:element name="reg" type="reg" maxOccurs="unbounded" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="reg">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="del" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>